p{
leading: 3px;
font-weight:bold;
}
.header{
font-size: 36px;
color:#FF9933;
font-weight:bold;
}
.footer{
font-family:Geneva, Arial, Helvetica, sans-serif;
text-align:right;
}
a{
color:#00CCFF;
text-decoration:underline;
font-size: 36px;
}